PORT=3004

# You can concatenate the hosts using a comma.
# NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"
NATS_SERVERS="nats://localhost:4222"

DATABASE_URL=mongodb://auth-db:27017/auth_db?replicaSet=rs0

JWT_SECRET=superSecretPasswordS5*